body{
  display: flex;
  justify-content: center;
  background-color: #EBEBEB;
}

#modalWrapper{
  margin-top: 15%;
  background-color: black;
  padding: 2% 8%;
  width: 40%;
  display: flex;
  justify-content: center;
  text-align: center;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  align-content: center;
  list-style: none;
  margin-bottom: 10%;
}

input{
  width: 35em;
  padding: 2% 3%;
}

button{
  width: 15em;
  background-color:#3EC91E;
  color: white;
  border: none;
  padding: 3% 5%;
}
